* {
  box-sizing: border-box;
}

html,
body,
button {
  padding: 0;
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.textgame {
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/* Fondos */
body {
  background-color: #312244;
  color: white;
}

/* Pantallas */

#pantalla-inicio {
  height: 70vh;
}

#pantalla-juego {
  display: none;
}

canvas {
  margin-left: 50px;
  width: 40%;
}

/* Letras */
a {
  color: inherit;
  text-decoration: none;
  transition: 2s;
}

h1 {
  padding: 15px;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 40%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#form-palabra {
  display: none;
}

#palabra-juego {
  letter-spacing: 0.3em;
  font-size: 80px;
  margin: 0 auto;
}

.letras-tecleadas {
  font-size: 40px;
  font-style: italic;
}

/* Botones */

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #654c6c;
  padding: 10px;
  margin: 10px auto;
  border-radius: 0.5em;
}
/* secciones */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

footer p {
  text-align: center;
  margin: 2px 0 10px 0;
}

footer h4 {
  margin: 2px 0;
}

/* Mobile */

#dummy {
  display: block;
  width: 200px;
}

/* Responsive */

@media (max-width: 768px) {
  canvas {
    width: 100%;
    max-width: 500px;
    transform: scale(0.9);
    margin: 0 auto;
  }
  h1 {
    width: auto;
  }

  h3 {
    margin: 0 auto;
  }
  .textgame {
    width: 100%;
  }
  .letras-tecleadas {
    font-size: 20px;
  }
  #palabra-juego {
    font-size: 30px;
  }

  .text-input {
    width: 80%;
  }

  #dummy {
    display: block;
  }
}
